div.susumeruArea div.susumeruParts dl{overflow:hidden;padding:5px 4px;border:1px solid #fff;background:none;}
div.susumeruWrap{width:265px;}
div.susumeruWrap div.susumeruParts dd li.first{border-right:solid #ccc 1px}
