/* version 1.0.3 */

@charset "EUC-JP";

#rakutenLimitedId_inshop_recommend * {
 background: none no-repeat none fixed left top !important;
 border: none !important;
 margin: 0 !important;
 padding: 0 !important;
 list-style: none none !important;
 list-style-type: none !important;
 font-size: 10pt !important;
 font-style: normal !important;
 font-variant: normal !important;
 font-weight: normal !important;
 line-height: 1 !important;
 font-family: "ＭＳ Ｐゴシック", sans-serif !important;
 quotes: none !important;
 counter-reset: none !important;
 counter-increment: none !important;
 content: none !important;
 border-collapse: separate !important;
 border-spacing: 0 !important;
 opacity: 1; /* !important; animate */
 box-sizing: content-box !important;
 outline: none !important;
 overflow: hidden !important;
 float: none !important;
 table-layout: auto !important;
 letter-spacing: normal !important;
 z-index: auto !important;
 color: #000000 !important;
 cursor: auto !important;
 caption-side: top !important;
 clear: none !important;
 /* clip: auto; TODO safari */
 text-align: left !important;
 text-decoration: none !important;
 text-indent: 0 !important;
 text-transform: none !important;
 direction: ltr !important;
 empty-cells: show !important;
 unicode-bidi: normal !important;
 vertical-align: auto !important;
 visibility: visible !important;
 white-space: normal !important;
 word-spacing: normal !important;
 position: static !important;
 max-height: none !important;
 max-width: 100% !important; /* TODO safari */
 min-height: 0 !important;
 min-width: 0 !important;
 left: auto !important;
 right: auto !important;
 top: auto !important;
 bottom: auto !important;
 height: auto !important;
 width: auto !important;
 /* for ie */
 _zoom: 1 !important;
 overflow-x: visible !important;
 overflow-y: visible !important;
 text-autospace: none !important;
 text-underline-position: below !important;
 writing-mode: lr-tb !important;
 layout-grid: none !important;
 ime-mode: auto !important;
 line-break: normal !important;
 ruby-overhang: auto !important;
 ruby-position: inline !important;
 background-position-x: left !important;
 background-position-y: top !important;
 behavior: none !important;
 /* css3 */
 background-clip: border-box !important;
 background-origin: padding-box  !important;
 background-size: auto  !important;
 border-radius: 0  !important;
 border-image: none 100% 1 0 stretch !important;
 box-decoration-break: slice !important;
 box-shadow: none !important;
 transform: none  !important;
 transform-origin: 50% 50% !important;
 transform-style: flat !important;
 perspective: none !important;
 box-orient: inline-axis !important;
 box-direction: normal !important;
 box-ordinal-group: 1 !important;
 box-align: stretch !important;
 box-flex: 0.0 !important;
 box-flex-group: 1 !important;
 box-pack: start !important;
 box-lines: single !important;
 columns: auto auto !important;
 column-gap: normal !important;
 column-rule: medium none #FFFFFF !important;
 break-after: auto !important;
 break-before: auto !important;
 break-inside: auto  !important;
 column-span: 1  !important;
 column-fill: balance !important;
 word-break: break-all !important;
 text-wrap: normal !important;
 word-wrap: normal !important;
 text-justify: auto !important;
 text-shadow: none !important;
 ruby-position: before !important;
 ruby-align: auto !important;
 ruby-overhang: none !important;
 ruby-span: none !important;
 font-size-adjust: none !important;
 font-stretch: normal !important;
}

#rakutenLimitedId_inshop_recommend div {
 display: block !important;
}

#rakutenLimitedId_inshop_recommend h2 {
 display: block !important;
}

#rakutenLimitedId_inshop_recommend img {
 display: block !important;
}

#rakutenLimitedId_inshop_recommend ul {
 display: block !important;
}

#rakutenLimitedId_inshop_recommend li {
 display: block !important;
}

#rakutenLimitedId_inshop_recommend a {
 display: inline !important;
 cursor: pointer !important;
}

#rakutenLimitedId_inshop_recommend a img {
 cursor: pointer !important;
}

#rakutenLimitedId_inshop_recommend {
 width:630px !important;
 margin-top: 0 !important;
 background-color: white;
}

#rakutenLimitedId_inshop_recommend div.inshopRecommendHeadline {
 position: relative !important;
 overflow: hidden !important;
}

#rakutenLimitedId_inshop_recommend .titleH2{
 color: #CC0000 !important;
 display: inline-block !important;
 float: left !important;
 font-size: 16px !important;
 font-weight: bold !important;
 margin-top: 4px !important;
 line-height: 1.5 !important;
}

#rakutenLimitedId_inshop_recommend div.inshopRecommendBody {
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend {
 margin: 0 0 0 0 !important;
 position: relative !important;
 _zoom: 1 !important;
 width: 100% !important;
 clear: both !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont {
 padding: 7px 0 !important;
 clear: both !important;
 overflow: hidden !important;
 _zoom: 1 !important;
 position: relative !important;
 _height: 300 !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont p {
  padding-top: 2px !important;
  text-align: left !important;
  font-weight: bold !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont .inshopApiBtLeft {
  background-color: white !important;
  margin-top: 7 !important;
  padding: 13px 10px 0 0 !important;
  position: absolute !important;
  float: left !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 5 !important;
  height: 247px !important;
  _height: 260px !important;
  width: 19 !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont .inshopApiBtLeft img {
 padding: 47 0 0 0 !important;
 width: 15 !important;
 _margin-top: 47 !important; /* IE */
 cursor: pointer !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont .inshopApiBtLeft a {
 outline: none !important;
 display: none !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont .apiBtRight {
 padding: 42px 0 0 0 !important;
 position: absolute !important;
 float: right !important;
 top: 25px !important;
 right: 0 !important;
 width: 15px !important;
 z-index: 50 !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont .apiBtRight a {
 display: none !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont .apiBtRight img {
 cursor: pointer !important;
}


#rakutenLimitedId_inshop_recommend div.recoInshopBlock {
 height: 260px !important;
 margin-right: -36px !important; /*Width of left+right -1px*/
 width: 100% !important;
 float: left !important;
 display: inline !important;
 overflow: hidden !important;
 _zoom: 1 !important;
 background-color: #FFFFFF !important;
}

#rakutenLimitedId_inshop_recommend .recoInshopBlock .recoInshopdisplay {
 position: relative !important;
 margin-left: 0px !important;
 margin-right: 36px !important;  /*Width of left+right -1px*/
}

#rakutenLimitedId_inshop_recommend .recoInshopRecoBlock .recoInshopdisplay {
 left: 18px !important;
}

#rakutenLimitedId_inshop_recommend .pageRecoContSpr {
 background: url(http://a.ichiba.jp.rakuten-static.com/com/img/home/200809/api/dot2.gif) repeat-y left top !important;
 height: 260px !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul {
 padding: 15px 8px 0px 11px !important;
 display: block !important;
 position: relative !important;
 margin:0 auto !important;
 _padding: 15px 8px 0px 8px !important; /* IE */
 _margin: 0 0 0 0 !important; /* IE6 */
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li {
 line-height: 1.2em !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li img {
 border-style: none !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoThumb {
 padding-bottom: 10px !important;
 text-align: center !important;
 margin: 0 auto !important;
 width: 128px !important;
 height: 128px !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoThumb img {
 margin: auto !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoName {
 height: 40px !important;
 width: 135px !important;
 _width: 125px !important; /* IE */
 margin: 0 auto !important;
 overflow: hidden !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoName a {
 color:#1D54A7 !important;
 text-decoration:none !important;
 _word-wrap: break-word !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoName a:hover {
 color:#C00000 !important;
 text-decoration: underline !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoPrice {
 margin: 0 auto !important;
 width: 128px !important;
 color: #BF0000 !important;
 font-weight: bold !important;
 /* font-size: 12pt !important; */
}
#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoDelivery {
 margin: 0 auto !important;
 text-align: left !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewCnt {
 color: #1D54A7 !important;
 font-size: 9pt !important;
 clear: both !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewCnt a {
 color: #1D54A7 !important;
 font-size: 9pt !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewCnt a:hover {
 text-decoration: underline !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewAve {
 width: 110 !important;
 color: #BF0000 !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewAve div.reviewstarOn {
 float: left !important;
 padding-top: 2 !important;
 background: url(http://a.ichiba.jp.rakuten-static.com/com/img/pdt/img/star_on.gif) no-repeat left top !important;
 width: 12px !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewAve div.reviewstarOff {
 float: left !important;
 padding-top: 2 !important;
 background: url(http://a.ichiba.jp.rakuten-static.com/com/img/pdt/img/star_off.gif) no-repeat left top !important;
 width: 12px !important;
}

#rakutenLimitedId_inshop_recommend #recoInshopRecommend .recoInshopRecoCont ul li.pageRecoReviewAve div.reviewstarHalf {
 float: left !important;
 padding-top: 2 !important;
 background: url(http://a.ichiba.jp.rakuten-static.com/com/img/pdt/img/star_half.gif) no-repeat left top !important;
 width: 12px !important;
}

#rakutenLimitedId_inshop_recommend #InshopRecoRecoAlteredContents {
 height: 260px !important;
 position: relative !important;
 text-align: center !important;
 top: 45px !important;
}

#rakutenLimitedId_inshop_recommend #InshopRecoLoading {
 display: none !important;
 height: 260px !important;
 position: relative !important;
 text-align: center !important;
 top: 45px !important;
 left: 260 !important;
}

#rakutenLimitedId_inshop_recommend #InshopRecoRecoItemsDisplay .InshopRecoLoading {
 width: 100% !important;
 text-align: center !important;
}

